*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

.scene-container{
    position: absolute;
    width: 100%;
    height: 100vh;
}   

.scene-container .loader{
    display: grid;
    background-image: linear-gradient(to bottom left, #30cfd0 0%, #330867 100%);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
}

.loader .loading-container{
    height: 100px;
    width: 100px;
}

.loading-container .loading-anim{
    overflow: hidden;
    white-space: nowrap;
    animation-name: loading-animation;
    animation-duration: 800ms;
    animation-timing-function: steps(40, end);
    animation-iteration-count: infinite;
}

.scene{
    position:fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit:cover;
    bottom: 0%;    
}

.day{
    background: linear-gradient(to bottom left, #A4CFC7 0%, #7BC3CA 30%, #D9E1CE 60%, #D5C4AF 100%);
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.night{
    background: linear-gradient(to bottom left, #0F1C2E 0%, #1E3358 25%, #324D81 50%, #466BAA 100%);
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.card-container{
    color: white;
    position:absolute;
    z-index: 2;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 4rem 1fr;
}

.anim-container{
    width: 100%;
    height: 300px;
    background: transparent;
    display: grid;
    justify-items: center;
}

#spinner{
    transform-origin: center;
    animation-name: anim-spin;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.search-container{
    width: 300px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-container input{
    appearance: none;
    outline: none;
    border: none;
    background: white;
    height: 100%;
    width: 250px;
    text-indent: 5px;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.7;
}

.search-btn{
    cursor: pointer;
    width: 2rem;
    height: 100%;
    border: none;
    background: white;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.7;
}

.weather-card{
    width: 768px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-bottom: 20px;
}

.weather-card .card-header{
    display: grid;
    grid-template-rows: 2rem 6rem;
}

.card-header .region{
    font-size: 2rem;
    grid-row: 1/2;
    text-align: center;
}

.card-header .temperature{
    font-size: 6rem;
    grid-row: 2/3;
    text-align: center;
}

.weather-card .icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.weather-card .weather{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 2rem 1fr;
    align-items: center;
    gap: 1rem;
}

.weather-card .current-day{
    font-size: 2rem;
}

.weather .crnt-weather-details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

.crnt-weather-details > *{
    display: grid;
    width: 160px;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}

.feels-like-icon, .humidity-icon, .wind-icon, .fahrenheit-icon{
    grid-row: 1/3;
    grid-column: 1/2;
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.weather-card .forecast-details{
    width: 100%;
    height: 100%;
    grid-row: 6/7;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.forecast-details .tomorrow-forecast, .forecast-details .after-tomorrow{
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 30%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .weather-card{
        width: 100%;
    }
    .search-container{
        width: 100%;
    }
}

@keyframes fade-in {
    to{
        opacity: 1;
    }
}
@keyframes anim-spin {
    0%{
        stroke-dasharray: 1 98;
        stroke-dashoffset: -100;
    }
    50%{
        stroke-dasharray: 80 10;
        stroke-dashoffset: -160;
    }
    100%{
        stroke-dasharray: 1 98;
        stroke-dashoffset: -300;
    }
}

@keyframes loading-animation {
    from{
        width: 80px;
        /* opacity: 0; */
        /* transform: scale(1); */
    }
    to{
        width: 109px;
        /* opacity: 1; */
        /* transform: scale(1.2); */
    }
}